.card{
    box-shadow: 0 0 5px rgb(51, 51, 51);
    border-radius: 1em;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1em;
    justify-content: center;
    align-items: center;
}
 .card__heart {
    position: sticky;
    top: 5em;
    right: 1em;
    color: crimson;
} 